$BORDER-STYLE: 2px solid #d4d4d4;
$COMMON-COLOR: #d4d4d4;
$BACKGROUND-COLOR: rgb(124, 21, 76);
$BORDER-RADIUS: 4px;
$BORDER-SHADOW: 0px 2px 15px #919191;
$FULL-WIDTH: 100%;
$COLORWHITE: white;
$SPACEBETWEEN: space-between;
$HEIGHTCALCULATION: calc(100vh - 60px);
$FONTSIZE: 12px;
$CURSORPOINTER: pointer;
